html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    /*border: solid 1px #000;*/
    /*font-size: 100%;*/
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: MicrosoftJhengHeiRegular, "微軟正黑體";
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
}


/*Reset CSS end*/


/*pure start */


/*!
Pure v1.0.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/

.btn {
    /* Structure */
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}


/* Firefox: Get rid of the inner focus border */

.btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}


/* Inherit .pure-g styles */

.btn-group {
    letter-spacing: -0.31em;
    /* Webkit: collapse white-space between units */
    *letter-spacing: normal;
    /* reset IE < 8 */
    *word-spacing: -0.43em;
    /* IE < 8: collapse white-space between units */
    text-rendering: optimizespeed;
    /* Webkit: fixes text-rendering: optimizeLegibility */
}

.opera-only :-o-prefocus,
.btn-group {
    word-spacing: -0.43em;
}

.btn-group .btn {
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}


/*csslint outline-none:false*/

.btn {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444;
    /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80);
    /* rgba supported */
    border: 1px solid #999;
    /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);
    /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

.btn-hover,
.btn:hover,
.btn:focus {
    /* csslint ignore:start */
    filter: alpha(opacity=90);
    /* csslint ignore:end */
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
}

.btn:focus {
    outline: 0;
}

.btn-active,
.btn:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.20) inset;
    border-color: #000\9;
}

.btn[disabled],
.btn-disabled,
.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled:active {
    border: none;
    background-image: none;
    /* csslint ignore:start */
    filter: alpha(opacity=40);
    /* csslint ignore:end */
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
}

.btn-hidden {
    display: none;
}

.btn-primary,
.btn-selected,
a.btn-primary,
a.btn-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}

.btn-warning {
    font-family: PingFangTC-Regular;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #F56C23;
}

.btn-gray {
    font-family: PingFangTC-Regular;
    font-size: 20px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.35);
}


/* Button Groups */

.btn-group .btn {
    margin: 0;
    border-radius: 0;
    border-right: 1px solid #111;
    /* fallback color for rgba() for IE7/8 */
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-group .btn:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.btn-group .btn:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: none;
}


/*pure end */


/*layout start*/

.wrap {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 65px;
    color: #fff;
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;
}

.clearfix {
    clear: both;
}

.logo {
    padding: 20px 50px;
}

.topmenu {
    float: right;
    padding: 0 20px;
    line-height: 10px;
}

.topmenu:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.topmenu li {
    float: left;
    margin-top: 5px;
    font-size: 18px;
}

.topmenu li a {
    display: block;
    text-decoration: none;
    padding: 1.3em;
    font-size: 16px;
    color: #fff;
}

.topmenu li a:hover {
    color: rgb(230, 113, 84);
}

.ordermenu {
    position: relative;
}

.ordermenu:hover>.dropdown-menu {
    display: block;
    opacity: 1;
}

.dropdown-trigger {
    position: relative;
}

.dropdown-trigger:focus+.dropdown-menu {
    display: block;
    opacity: 1;
}

.dropdown-menu {
    display: inline-block;
    text-align: right;
    position: absolute;
    top: 0.5rem;
    left: -12rem;
    display: none;
    opacity: 0;
    transition: opacity 2s ease;
    width: 300px;
}

.dropdown-menu li {
    border-bottom: 0.5px dashed rgb(230, 113, 84);
}

.dropdown-menu li a {
    text-align: center;
    color: rgb(40, 147, 247);
}

.home-img {
    background: url(../img/header_desktop.png)no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 450px;
}

.text-container {
    padding-top: 150px;
}

.bantop {
    width: 50%;
    height: 180px;
    margin: 50px 350px;
    background-color: rgba(0, 0, 0, 0.35);
    text-align: center;
}

.bantop h3 {
    padding: 30px;
    font-size: 36px;
    color: #fff;
}

.bantop p {
    padding: 10px;
    font-size: 16px;
    color: #fff;
}

.footer {
    width: 100%;
    height: 180px;
    padding-top: 20px;
    background-color: #EFE9E7;
}

.fo-message {
    float: left;
    width: 350px;
    margin: 20px 25px;
}

.fo-message h4 {
    font-size: 22px;
    color: #3D1101;
    font-weight: 900;
    margin: 10px 0;
}

.fo-message span {
    font-size: 14px;
    color: #3D1101;
    font-weight: 900;
    line-height: 23px;
    letter-spacing: 2px;
}

.fo-information {
    float: left;
    display: inline-block;
    margin: 30px -5px;
}

.fo-information h4 {
    font-size: 22px;
    color: #3D1101;
    font-weight: 900;
}

.fo-information ul {
    margin: 16px 0;
    font-weight: 900;
    color: #3D1101;
    font-size: 16px;
    line-height: 22px;
}

.fo-logo {
    float: right;
    margin: 30px 25px;
}

.fo-logo .fab {
    float: right;
    padding: 10px 5px;
}

.fo-logo .fa-facebook-square {
    color: #3A5795;
}

.fo-logo .fa-twitter-square {
    color: #41ABE1;
}

.fo-logo .fa-google-plus-square {
    color: #DB4437;
}


/*layout end*/


/*在PC上隱藏漢堡選單*/

.showmenu {
    display: none;
}


/*layout 節點*/

@media (max-width: 767px) {
    .header {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        height: 65px;
        color: #fff;
        z-index: 2;
        right: 0;
        left: 0;
    }
    .topmenu {
        padding-right: 5rem;
    }
    .home-img {
        background: url(../img/header_desktop.png)no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        min-height: 500px;
    }
    .text-container {
        padding-top: 150px;
    }
    .bantop {
        width: 50%;
        height: 200px;
        margin: -15px 200px;
        background-color: rgba(0, 0, 0, 0.35);
        text-align: center;
    }
    .bantop h3 {
        padding: 30px;
        font-size: 28px;
        color: #fff;
    }
    .footer {
        margin-top: -15px;
    }
    .fo-message {
        width: 220px;
    }
    .fo-message h4 {
        font-size: 16px;
    }
    .fo-message span {
        font-size: 14px;
        color: #3D1101;
        line-height: 10px;
    }
    .fo-information {
        width: 200px;
        margin: 30px -5px;
    }
    .fo-information h4 {
        font-size: 16px;
    }
    .fo-information ul {
        font-size: 14px;
        line-height: 22px;
    }
    .fo-logo {
        float: right;
        width: 200px;
        margin-left: 350px;
        margin-top: -120px;
    }
}

@media (max-width: 480px) {
    .header {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        height: 65px;
        color: #fff;
        z-index: 2;
        right: 0;
        left: 0;
    }
    .topmenu {
        /*隱藏選單開始*/
        max-height: 0px;
        overflow: hidden;
        /*隱藏選單結束*/
        transition: max-height 2.3s;
        margin-top: -1px;
        /*絕對定位疊在網頁上*/
        position: absolute;
        z-index: 100;
        /*header 80px+1px boder 線條*/
        top: 60px;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .topmenu li {
        float: none;
        width: 200px;
        padding: 0.2em;
        border-bottom: 1px dashed rgb(230, 113, 84);
    }
    .topmenu li a {
        transition: all 0.3s;
        margin-left: 1em;
    }
    .topmenu li a:hover {
        background-color: rgb(230, 113, 84);
        color: #fff;
    }
    .dropdown-menu {
        /*隱藏選單開始*/
        max-height: 0px;
        overflow: hidden;
        /*隱藏選單結束*/
        transition: max-height 2.3s;
        margin-top: -1px;
        margin-left: 13em;
        /*絕對定位疊在網頁上*/
        position: absolute;
        z-index: 100;
        /*header 80px+1px boder 線條*/
        top: -4px;
        left: 0;
        right: 0;
    }
    .dropdown-menu li {
        float: none;
        width: 100px;
        border-bottom: 1px dashed rgb(230, 113, 84);
    }
    .dropdown-menu li a {
        transition: all 0.3s;
        text-align: center;
    }
    .dropdown-menu li a:hover {
        background-color: rgb(230, 113, 84);
        color: #fff;
    }
    .dropdown-menu {
        display: inline-block;
        float: left;
        color: #fff;
    }
    .showmenu {
        display: block;
        float: right;
        padding-right: 2rem;
        margin: 1em;
        color: #fff;
    }
    /*jQ點擊後動態在 body 加上 class */
    .menu-show .topmenu,
    .dropdown-menu {
        max-height: 500px
    }
    .home-img {
        background: url(../img/Bitmap.png)no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        min-height: 500px;
    }
    .bantop {
        width: 50%;
        height: 180px;
        margin: 0 120px;
        background-color: rgba(0, 0, 0, 0.35);
        text-align: center;
    }
    .bantop h3 {
        padding: 30px;
        font-size: 24px;
        line-height: 30px;
        color: #fff;
    }
    .bantop p {
        font-size: 14px;
        line-height: 5px;
        color: #fff;
    }
    .footer {
        width: 100%;
        padding: 40px 0;
    }
    .fo-message h4 {
        display: none;
    }
    .fo-message span {
        display: none;
    }
    .fo-information {
        width: 180px;
        margin: 20px 30px;
    }
    .fo-logo {
        float: left;
        width: 120px;
        margin-top: 3.5rem;
        margin-left: 2rem;
    }
}


/*註冊 start*/

.container {
    height: 750px;
    margin-top: -50px;
    background-color: #EFE9E7;
    position: relative;
}

.con-logo {
    position: absolute;
    left: 600px;
    top: 50px;
}

.con-logo p {
    margin-top: 10px;
    font-size: 20px;
    color: #3D1101;
    font-weight: 900;
    text-align: center;
}

.con-register {
    width: 650px;
    position: absolute;
    left: 400px;
    top: 200px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-top: solid 2px #FF5E45;
    border-right: solid 2px #EFE9E7;
    border-bottom: solid 2px #EFE9E7;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
}

.con-register .title {
    font-size: 18px;
    color: #3D1101;
    text-align: center;
    margin: 10px 0;
}


/*註冊框文字 start*/

.reg-left {
    width: 350px;
    float: left;
    display: inline-block;
}

.reg-left h1 {
    font-size: 18px;
    color: #3D1101;
    font-weight: 900;
    margin-bottom: 20px;
}

.reg-left p {
    font-size: 18px;
    color: #3D1101;
    line-height: 20px;
    font-weight: 900;
}


/*註冊框文字 end*/


/*註冊框欄位 start*/

.reg-right {
    width: 250px;
    float: left;
    display: inline-block;
    margin-left: 15px;
    line-height: 30px;
}

.reg-right p {
    font-size: 16px;
    color: #3D1101;
    font-weight: 900;
}

.reg-right span {
    font-size: 14px;
    color: #FF5E45;
    font-weight: 900;
}

.reg-right .input {
    position: relative;
    width: 85%;
    margin: 5px 0;
}

.reg-right .input span {
    position: absolute;
    display: block;
    color: #d4d4d4;
    left: 5px;
    top: 5px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px 5px 10px 40px;
    display: block;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    transition: 0.2s ease-out;
    color: #a1a1a1;
}

input:focus {
    padding: 10px 5px 10px 10px;
    outline: 0;
    border-color: #FF7052;
}

.reg-right .add {
    text-decoration: none;
    font-size: 14px;
    color: #FF5E45;
}

.reg-right .btn {
    padding: 10px 50px;
    margin: 10px 120px;
}


/*註冊框欄位*/


/*註冊 end*/


/* 註冊節點 */

@media(max-width: 767px) {
    /*註冊 start*/
    .container {
        width: 99.5%;
        margin: 15px 0;
        padding-bottom: 20px;
    }
    .con-logo {
        left: 250px;
        top: 60px;
    }
    .con-register {
        width: 500px;
        left: 115px;
        top: 180px;
    }
    .reg-left {
        float: none;
        width: 380px;
        text-align: center;
        margin: 20px 60px;
    }
    .reg-right {
        width: 250px;
        float: none;
        margin-left: 120px;
    }
    .reg-right .btn {
        margin: 10px 50px;
    }
}

@media (max-width: 480px) {
    /*註冊 start*/
    .container {
        width: 99.5%;
        margin: -1px 2px;
        padding-bottom: 20px;
    }
    .con-logo {
        left: 100px;
        top: 100px;
    }
    .con-register {
        width: 300px;
        left: 60px;
        top: 250px;
    }
    .reg-left {
        display: none;
    }
    .reg-right {
        width: 250px;
        float: none;
        margin-left: 20px;
    }
    .reg-right .btn {
        margin: 10px 50px;
    }
}


/*特色 start*/

.introduce {
    margin: -50px 0;
    padding: 50px 0;
    background-color: #EFE9E7;
    color: #3D1101;
}

.int-heading {
    letter-spacing: 2px;
    font-size: 2rem;
    text-align: center;
    line-height: 34px;
}

.hr {
    overflow: hidden;
    text-align: center;
}

.hr span {
    display: inline-block;
    padding: 0 0.5em;
    position: relative;
}

.hr span:before,
.hr span:after {
    border-top: 1px solid;
    content: "";
    position: absolute;
    top: 50%;
    width: 9rem;
}

.hr span:before {
    right: 100%;
}

.hr span:after {
    left: 100%;
}

.int-wrap {
    display: table;
    width: 80%;
    margin: 50px 150px;
    table-layout: fixed;
}

.int-box {
    width: 30%;
    display: table-cell;
    text-align: center;
    margin-bottom: 20px;
}

.int-title {
    margin-top: 20px;
    font-size: 16px;
}

.int-text {
    width: 90%;
    margin: 0 auto;
    padding-top: 11px;
    text-align: left;
    font-size: 16px;
    line-height: 25px;
}

.int-box img {
    max-width: 100%;
    height: auto;
    border-radius: 100px;
}


/* 特色 節點 */

@media(max-width: 767px) {
    .int-wrap {
        width: 95%;
        margin: 50px 20px;
    }
    .int-box {
        width: 30%;
        margin-bottom: 20px;
    }
    .int-title {
        margin-top: 20px;
        font-size: 18px;
    }
    .int-text {
        width: 90%;
        margin: 0 auto;
        padding-top: 11px;
        text-align: left;
        font-size: 14px;
        line-height: 18px;
    }
    .int-box img {
        max-width: 100%;
        height: auto;
        border-radius: 100px;
    }
}

@media(max-width: 480px) {
    .int-wrap {
        width: 60%;
    }
    .int-box {
        width: 100%;
        float: left;
        margin-left: 70px;
    }
    .int-title {
        margin-top: 20px;
        font-size: 18px;
    }
    .int-text {
        display: none;
    }
}


/*今日主廚*/

.todaychef {
    background-color: #3e1100;
    color: #efe9e7;
    height: auto;
}

.chef-wrap {
    text-align: left;
}

.chef-box {
    display: inline-block;
    width: 45%;
}

.chef-image {
    max-width: 100%;
    height: 450px;
    padding-left: 150px;
}

.chef-text {
    padding-top: 80px;
    margin-left: 100px;
    vertical-align: top;
    text-align: left;
    width: 30%;
}

.chef-text h2 {
    font-size: 28px;
}

.chef-text h3 {
    font-size: 24px;
    padding-top: 10px;
}

.chef-text p {
    padding-top: 20px;
    font-size: 18px;
    line-height: 20px;
}


/* 主廚介紹(節點)*/

@media(max-width: 767px) {
    .chef-box {
        width: 40%;
    }
    .chef-image {
        width: 50%;
        height: 25px;
        padding-left: 10px;
    }
    .chef-text {
        width: 38%;
        margin-top: -5px;
        margin-left: 50px;
    }
    .chef-text h2 {
        font-size: 20px;
    }
    .chef-text h3 {
        font-size: 18px;
        padding-top: 10px;
    }
    .chef-text p {
        padding-top: 20px;
        font-size: 12px;
        line-height: 15px;
    }
}

@media(max-width: 480px) {
    .chef-image {
        width: 100%;
        margin-left: -10px;
    }
    .chef-text {
        width: 80%;
        padding-top: 2rem;
        padding-bottom: 20px;
        margin-left: 35px;
    }
    .chef-text h2 {
        font-size: 20px;
    }
    .chef-text h3 {
        font-size: 18px;
        padding-top: 10px;
    }
    .chef-text p {
        padding-top: 20px;
        font-size: 12px;
        line-height: 12px;
    }
}


/*客戶評論*/

.comment {
    padding: 50px 0;
    background-color: #EFE9E7;
    color: #3D1101;
}

.com-heading {
    letter-spacing: 2px;
    font-size: 36px;
    text-align: center;
}

.com-wrap {
    display: table;
    width: 80%;
    margin: 0 auto;
    table-layout: fixed;
}

.com-box {
    width: 100%;
    display: table-cell;
    padding-top: 51px;
}

.com-nickname {
    font-size: 1.8rem;
    padding-left: 13px;
    vertical-align: 130%;
    display: inline-block;
}

.com-text {
    width: 70%;
    margin: 0 auto;
    padding-top: 22px;
    text-align: left;
    font-size: 18px;
    line-height: 25px;
}

.com-job {
    width: 40%;
    color: rgba(61, 17, 0, 0.75);
    font-size: 24px;
    line-height: 25px;
    float: right;
    padding-top: 16px;
}

.com-box img {
    max-width: 100%;
    height: auto;
    border-radius: 100px;
}


/* idea 節點*/

@media(max-width: 769px) {
    .com-heading {
        font-size: 34px;
    }
    .com-wrap {
        width: 100%;
    }
    .com-box {
        width: 100%;
    }
    .com-nickname {
        font-size: 20px;
    }
    .com-text {
        width: 90%;
        font-size: 16px;
        line-height: 25px;
    }
    .com-job {
        width: 60%;
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .com-heading {
        font-size: 34px;
    }
    .com-wrap {
        width: 100%;
    }
    .com-box {
        width: 100%;
        float: left;
        text-align: center;
    }
    .com-nickname {
        font-size: 20px;
    }
    .com-text {
        width: 90%;
        font-size: 16px;
        line-height: 25px;
    }
    .com-job {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
}

.map {
    padding: 30px 0;
    background: rgba(250, 250, 250, 0.70);
    color: #3d1101;
}

.contact-heading {
    letter-spacing: 2px;
    font-size: 32px;
    text-align: center;
    line-height: 35px;
}

.contact-wrap {
    text-align: center;
    margin-top: 30px;
}

.contact-box {
    display: inline-block;
    width: 40%;
    margin-top: 60px;
}

.contact-box iframe {
    max-width: 100%;
}

form {
    height: 60%;
    margin-top: 12px;
}

.contact-from {
    width: 45%;
    vertical-align: top;
    text-align: left;
    margin-left: 20px;
}

.contact-form-text {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0px 1px 0px 0px #ECECEC;
    border-radius: 3px;
    margin: 6px 0 12px 0;
    padding-left: 14px;
    height: 20px;
    width: 90%;
    font-family: PingFangTC-Light;
    font-size: 16px;
    color: #4A4A4A;
}

.form_title,
.radio_number,
form label {
    font-family: PingFangTC-Light;
    font-size: 1.4rem;
    display: block;
}

.contact_form_radio {
    margin: 6px;
}

.no {
    margin-left: 36px;
}

.submit_button {
    float: right;
    margin-right: 30px;
}

.contact_button_cancel,
.contact_button_ok {
    width: 70px;
    height: 32px;
    outline: none;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
}

.submit_button .contact_button_cancel {
    background: rgba(0, 0, 0, 0.35);
}

.submit_button .contact_button_ok {
    background: #F56C23;
    margin-left: 11px;
}

.submit_button .contact_button_ok:hover {
    background-color: #000;
}

.radio {
    width: 50px;
    margin: -20px 20px;
    display: inline-block;
}

.radio input[type="radio"] {
    /* position: absolute; */
    opacity: 0;
}

.radio input[type="radio"]+.radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: 1em;
    left: 1.5em;
    margin-right: 20px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.radio input[type="radio"]:checked+.radio-label:before {
    background-color: #3197EE;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus+.radio-label:before {
    outline: none;
    border-color: #3197EE;
}

.radio input[type="radio"]:disabled+.radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

.radio input[type="radio"]+.radio-label:empty:before {
    margin-right: 0;
}

.btnMessage {
    float: right;
    padding: 40px 50px;
}

.btn-gray {
    margin-right: 20px;
}


/* map 節點 */

@media(max-width: 767px) {
    .contact-box {
        width: 90%;
    }
    .contact-box iframe {
        max-width: 90%;
    }
    form {
        margin-top: 12px;
    }
}

@media(max-width: 480px) {
    .contact-box {
        width: 90%;
    }
    .contact-box iframe {
        max-width: 90%;
    }
    form {
        margin-top: 12px;
    }
}


/*index-2 container*/

.all {
    max-width: 960px;
    height: 1300px;
    margin: 0 auto;
}

.sidebar {
    float: left;
    width: 20%;
    color: #3D1101;
    margin-left: -150px;
    margin-top: 60px;
}

.sidebar ul li {
    font-size: 16px;
    width: 100%;
    padding: 5px;
    color: #3D1101;
    border-bottom: 2px solid #3D1101;
}

.sidebar ul li:hover {
    background-color: #3D1101;
    color: #fff;
}

.sidebar ul li a {
    padding-right: 4.2rem;
    text-decoration: none;
    color: #3D1101;
}

.sidebar ul li a:hover {
    padding-right: 4.2rem;
    color: #fff;
}

.sidebar .menu-all a {
    padding-right: 7.5rem;
}

.sidebar .menu-all a:hover {
    padding-right: 7.5rem;
}

.sidebar-title {
    font-size: 20px;
    margin-bottom: 16px;
}

.order-top {
    position: absolute;
    top: 30rem;
    right: 500px;
}

.search {
    width: 450px;
    float: left;
    display: inline-block;
    margin-left: 15px;
    line-height: 30px;
}

.search .searchTerm {
    position: relative;
    width: 85%;
    margin: 5px 0;
}

.search .searchTerm span {
    position: absolute;
    color: #fff;
    background: #3D1101;
    right: -63px;
    top: 0px;
    padding: 5px 0;
    font-size: 15px;
    text-align: center;
    border-radius: 4px;
}

.search .fa-search {
    padding: 0 12px;
}

input[type="text"] {
    width: 100%;
    padding: 10px 20px 10px 40px;
    display: block;
    border: 2px solid #3D1101;
    border-radius: 4px;
    transition: 0.2s ease-out;
    color: #a1a1a1;
}

input[type="text"]:focus {
    padding: 10px 5px 10px 10px;
    outline: 0;
    border-color: #3D1101;
}

.order-shop {
    position: absolute;
    width: 92px;
    left: 30rem;
    top: 2rem;
}

.order-shop a {
    font-size: 16px;
    color: #3D1101;
    text-decoration: none;
}

.order-main {
    position: absolute;
    left: 25rem;
    top: 35rem;
}

.order-main ul li {
    width: 220px;
    height: 280px;
    float: left;
    margin: 30px 30px 0px 0;
    -webkit-box-shadow: 3px 3px 4px 0px #aaa;
    box-shadow: 3px 3px 4px 0px #aaa;
    text-align: center;
    position: relative;
}


/*套餐12345*/

.order-box {
    width: 98%;
    height: 280px;
    background: #EFE9E7;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
}

.order-box i.fa-heart {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 24px;
    color: #fff;
}

.order-box img {
    margin-bottom: 2px;
}

.order-box .table {
    position: relative;
}

.order-box .table span {
    transform: rotate(-315deg);
    position: absolute;
    top: -90px;
    left: 90px;
    bottom: -20px;
    right: -25px;
    text-align: center;
    font-family: NotoSansCJKtc-Bold;
    font-size: 14px;
    color: #FFFFFF;
    z-index: 1;
    /*border: solid 2px #000;*/
}

.order-box .table img {
    position: absolute;
    top: -99px;
    left: 148px;
    z-index: 0;
}

.order-box p.hamburger {
    font-size: 20px;
    color: #3D1101;
    line-height: 36px;
    text-align: center;
}

.order-box p.hamburgername {
    font-size: 12px;
    color: #3D1101;
    margin-bottom: 15px;
    text-align: center;
}

.order-box hr {
    width: 91px;
    height: 1px;
    background: #3D1101;
}

.order-box h2 {
    font-family: Roboto-Light;
    font-size: 20px;
    color: #3D1101;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.shop-button button {
    font-size: 16px;
    color: #FF5E45;
    background-color: #EFE9E7;
    margin-left: 20px;
    padding: 5px 35px;
    border: 2px solid #FF5E45;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.shop-button button:hover {
    background-color: #FF5E45;
    color: #fff;
}

.shop-button button {
    font-size: 16px;
    color: #FF5E45;
    background-color: #EFE9E7;
    margin-left: 20px;
    padding: 5px 35px;
    border: 2px solid #FF5E45;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.shop-button button:hover {
    background-color: #FF5E45;
    color: #fff;
}

@media(max-width: 767px) {
    .sidebar {
        float: none;
        width: 25%;
        color: #3D1101;
        margin-left: 20px;
        margin-top: 100px;
    }
    .sidebar ul li {
        font-size: 16px;
        width: 100%;
        padding: 5px;
        color: #3D1101;
        border-bottom: 2px solid #3D1101;
    }
    .sidebar ul li:hover {
        background-color: #3D1101;
        color: #fff;
    }
    .sidebar ul li a {
        padding-right: 4.2rem;
        text-decoration: none;
        color: #3D1101;
    }
    .sidebar ul li a:hover {
        padding-right: 4.2rem;
        color: #fff;
    }
    .sidebar .menu-all a {
        padding-right: 7.5rem;
    }
    .sidebar .menu-all a:hover {
        padding-right: 7.5rem;
    }
    .order-top {
        top: 35rem;
        right: 150px;
    }
    .search {
        width: 300px;
    }
    .order-shop {
        width: 92px;
        left: 22rem;
        top: 2rem;
    }
    .order-shop a {
        font-size: 16px;
        color: #3D1101;
        text-decoration: none;
    }
    .order-main {
        position: absolute;
        left: 14.4rem;
        top: 38rem;
    }
}

@media(max-width: 480px) {
    .sidebar {
        float: none;
        width: 180px;
        margin-left: 5px;
        margin-top: 150px;
    }
    .sidebar ul {
        width: 180px;
        padding: 5px;
    }
    .sidebar ul li a {
        font-size: 14px;
    }
    .order-top {
        top: 35rem;
        right: 90px;
    }
    .search {
        width: 300px;
    }
    .order-shop {
        width: 90px;
        left: 18rem;
        top: -2rem;
    }
    .order-main {
        width: 225px;
        left: 13.5rem;
        top: 40rem;
    }
    .shop-button button {
        font-size: 16px;
        color: #FF5E45;
        background-color: #EFE9E7;
        margin-left: 20px;
        padding: 5px 35px;
        border: 2px solid #FF5E45;
        border-radius: 3px;
        outline: none;
        cursor: pointer;
    }
    .shop-button button:hover {
        background-color: #FF5E45;
        color: #fff;
    }
    .shop-button button {
        font-size: 16px;
        color: #FF5E45;
        background-color: #EFE9E7;
        margin-left: 20px;
        padding: 5px 35px;
        border: 2px solid #FF5E45;
        border-radius: 3px;
        outline: none;
        cursor: pointer;
    }
    .shop-button button:hover {
        background-color: #FF5E45;
        color: #fff;
    }
}